@font-face {
    font-family: Mandali;
    src: url(../fonts/Mandali-Regular.ttf);
}
@font-face {
    font-family: IntegralCF;
    src: url(../fonts/Fontspring-integralcf-regular.otf);
}
@font-face {
    font-family: Shanti;
    src: url(../fonts/Shanti-Regular.ttf);
}
@font-face {
    font-family: Kinetica;
    src: url(../fonts/Kinetica-Light.otf);
}
@font-face {
    font-family: inter-semibold;
    src: url("../fonts/Inter-SemiBold.ttf");
}
@font-face {
    font-family: inter;
    src: url("../fonts/Inter-Regular.ttf");
}
@font-face {
    font-family: inter-light;
    src: url("../fonts/Inter-Light.ttf");
}